*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font  */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container{
    max-width: 75%;
}

/* Header section */

nav{
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 0;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    text-decoration: none;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
}

nav h2{
    color: #FFFFFF;
    font-size: 2.5rem;
}

nav h2 .grad{
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.btn{
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: white;
    font-weight: 600;
    border: none;
}

.hero{
    background: url("../assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding: 100px 0;
}

.hero-container{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.hero-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-circle{
    max-width: 100%;
    height: auto;
}

.hero-mic{
    position: absolute;
    z-index: 5;
    width: 20%;
}

.hero-badge{
    position: absolute;
    z-index: 7;
    color: #1A0B2E;
    font-size: 1.124rem;
    font-weight: 600;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    top: 5%;
    right: 22%;
    box-shadow: 0 3px 27px #00FF88;
}

.hero-content h1{
    font-size: 3.75rem;
    font-weight: 800;
    margin-top: 40px;
    color: transparent;
    background: linear-gradient(to top right, #F7E93F, #fe4040, #9100F8, #dbf800,#9100F8,#cff800);
    background-clip: text;
    background-size: 200%;
    animation: Animate 2s linear infinite;
}

.hero-container p{
    margin-top: 8px;
    color: white;
    opacity: 80%;
    margin-bottom: 24px;
}

.hero-btn{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.hero-btn1{
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero-btn2{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #00FF88;
    font-weight: 600;
    border: 1px solid #00FF88;
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 1000px;
}

/* About section  */
.about-container{
    background-color: #1A0B2E;
    padding-top: 50px;
    padding-bottom: 120px;
}

.about-content{
    text-align: center;
    margin: 0 auto;
}

.about-content h1{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}

.about-content p{
    line-height: 28px;
    color: white;
    opacity: 80%;
    margin-bottom: 80px;
}

.about-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    gap: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.562);
    margin: 0 auto;
}

.about-card-item{
    text-align: center;
    padding: 0 20px;
}

.about-card-item h1{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}
.about-card-item p{
    color: white;
}



