/* @import "tailwindcss" */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Items  */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.primary-btn{
    background: -webkit-linear-gradient(#9100F8,#FB09B4,#F7E93F);
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

/* header  */
header{
    background-color:#1A0B2E;
    border-bottom: 1px solid #7235c2;
}
.menu{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0;
}
.logo{
    color: white;
}
.wave-color{
    background: -webkit-linear-gradient(#9100F8,#FB09B4,#F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu-items{
    display: flex;
    justify-content: space-around;
    gap: 32px;
}
.menu-item{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

/* header end  */

/* Banner Start  */
.banner{
    background-image: url("../assets/hero-bg.png");
    height: 760px;
    width: 100%;
    position: relative;
}
.banner-img{
    width: 100% ;
    margin-left:625px;
    margin-top: 100px;
    justify-content: center;
    position: absolute;
}
