*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared  */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container{
    max-width: 75%;
}

.btn{
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: white;
    font-weight: 600;
    border: none;
    transition: 0.5s;
}

button:hover{
    color: rgb(11, 2, 2);
    cursor: pointer;
    background: linear-gradient(to top right, #ffffff, #b0f10a, #9100F8);
}

/* Header section */

nav{
    background-color: #1A0B2E;
    border-bottom: 0.7px solid #7b3fc9;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 0;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    text-decoration: none;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    transition: 0.5s;
}
nav ul a:hover{
    color: #1A0B2E;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9448ca);
    padding: 5px 10px;
    border-radius: 5px;
}

nav h2 a{
    color: #FFFFFF;
    font-size: 2.5rem;
    text-decoration: none;
}

nav h2 .gradient{
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}
nav .menu-display{
    display: none;
}

/* Banner Start  */

.banner{
    background: url("../assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
}

.banner-container{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.banner-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-circle{
    max-width: 100%;
    height: auto;
}

.banner-mic{
    position: absolute;
    z-index: 5;
    width: 20%;
}

.flash-badge{
    position: absolute;
    z-index: 7;
    color: #1A0B2E;
    font-size: 1.124rem;
    font-weight: 600;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 15px #00FF88;
    top: 5%;
    right: 22%;
    
    animation-name: myAnimation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes myAnimation {
  50%  {right:200px; top:50px;}
}

.banner-content h1{
    font-size: 3.75rem;
    font-weight: 800;
    margin-top: 40px;
    color: white;
}

.banner-container p{
    margin-top: 8px;
    color: white;
    opacity: 80%;
    margin-bottom: 24px;
}

.banner-btn{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.banner-btn1{
    display: flex;
    align-items: center;
    gap: 8px;
}
.banner-btn2{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #00FF88;
    font-weight: 600;
    border: 1px solid #00FF88;
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 1000px;
}
/* Banner End  */

/* About Start  */
.about-container{
    background-color: #1A0B2E;
    padding-top: 50px;
    padding-bottom: 120px;
}

.about-content{
    text-align: center;
    margin: 0 auto;
}

.about-content h1{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}

.about-content p{
    line-height: 28px;
    color: white;
    opacity: 80%;
    margin-bottom: 80px;
}

.about-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    gap: 80px;
    border-top: 0.7px solid #7b3fc9;;
    margin: 0 auto;
}

.about-card-item{
    text-align: center;
    padding: 0 20px;
}

.about-card-item h1{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}
.about-card-item p{
    color: white;
}
/* About End  */

/* Card Start  */
.card{
    background-color: #230E3D;
    padding: 120px 0;
}

.card-container{
    margin: 0 auto;
}

.card-container h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}

.card-item-1{
    grid-area: item-1;
}
.card-item-2{
    grid-area: item-2;
}
.card-item-3{
    grid-area: item-3;
}
.card-item-4{
    grid-area: item-4;
}
.card-item-5{
    grid-area: item-5;
}

.card-item{
    display: grid;
    grid-template-areas: 
            'item-1 item-2 item-2'
            'item-1 item-3 item-3'
            'item-4 item-4 item-5';
    gap: 30px;
}

.card-box{
    background-color: rgba(53, 17, 101, 0.4);
    text-align: left;
    padding: 40px;
    border-radius: 40px;
}

.card-box h3{
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 16px 0;
}
.card-box p{
    color: white;
    opacity: 60%;
    line-height: 24px;
}
.box-1 img{
    margin-top: 70px;
}
/* Card End  */

/* Feature Start  */
.feature{
    background-color: #1A0B2E;
    padding: 120px 0;
}

.feature-container{
    margin: 0 auto;
    text-align: center;
}

.feature-container h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.feature-video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.feature-video{
    border-radius: 24px;
    overflow: hidden;
    text-align: left;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.feature-video iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.episode-des{
    padding: 24px;
    background-color: #250D44;
}

.episode-des h3{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 12px;
}

.episode-des p{
    color: white;
    opacity: 60%;
    line-height: 24px;
    margin-bottom: 24px;
}

.episode-des .time{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    gap: 6px;
}

.episode-des .time h6{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
}
/* Feature Start  */

/* Host Start  */
.host-container{
    margin: 0 auto;
}

.host-container h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 120px;
}

.host{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}

.host-content h3{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.host-content p{
    color: white;
    opacity: 60%;
    line-height: 24px;
    margin-bottom: 16px;
}

.host-icon{
    display: flex;
    justify-content: left;
    gap: 18px;
}

.icon-link {
    border: 1px solid #533C72;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.icon-link:hover{
    background-color: #ffffff;
}
/* Host End  */

/* Footer Start */
footer{
    background: url("../assets/footer-bg.png");
    padding: 120px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-container{
    margin: 0 auto;
    text-align: center;
}

.footer-container p{
    color: #FAFAFA;
    opacity: 60%;
}

.footer-container h1{
    font-size: 5rem;
    color: white;
    margin-bottom: 32px;
}

.footer-container h1 .gradient{
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
}

.footer-link-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer-link-item h5{
    color: white;
    opacity: 60%;
}
/* Footer End */

/* Responsive For Medium Devices
@media screen and (max-width: 992px){
  
} */


/* Responsive For Small Devices */
@media screen and (max-width: 576px)
{
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    /* Nav Section */
    .nav-container ul, 
    .nav-container .btn {
        display: none;
    }

    .nav-container .menu-display{
        display: block;
    }

    /* Banner Section  */
    .banner {
        padding: 60px 0;
    }
    .banner-content h1 {
        font-size: 3rem;
    }
    .banner-img{
        width:70%;
        margin: 0 auto;
    }
    .banner-btn{
        display: flex;
        flex-direction: column;
    }
    .banner-btn1, .banner-btn2 {
        width: 70%;
        margin: 0 auto;
        justify-content: center;
        padding: 10px 14px;
        font-size: 0.85rem;
    }

    @keyframes myAnimation {
    50%  {right:100px; top:75px;}
    }

    /* About Section  */
    .about-content h1{
        font-size: 2.5rem;
    }
    .about-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding-top: 40px;
    }
    .about-card-item h1 {
        font-size: 2rem;
    }
    .about-content p{
    font-size: 0.8rem;
    }

    /* Card Section  */
    .card-container h1{
        font-size: 2.2rem;
    }
    .card-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .card-item-1, .card-item-2, .card-item-3, .card-item-4, .card-item-5 {
        grid-area: auto; 
    }
    .card-box {
        text-align:center;
        padding: 30px;
    }
    .box-1 img{
    margin-top: 0;
    }

    /* Feature Section  */
    .feature-container h1{
        font-size: 2.5rem;
    }
    .episode-des h3{
        font-size: 1.2rem;
    }
    .episode-des p{
        font-size: 0.9rem;
    }

    .feature-video-container{
        flex-direction: column;
        gap: 24px;
    }

    /* Host Section  */
    .host{
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
    .host-icon{
        justify-content: center;
    }

    /* Footer Section  */
   .footer-link{
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: 20px 30px;
        margin-bottom: 40px;
    }
    .footer-link-item{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .footer-container h1{
        font-size: 3rem;
        margin-bottom: 24px;
    }
    .footer-container p{
    font-size: 0.8rem;
    }
}



